
.article{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 60vw;
    margin: 30px auto 0 auto ;
}
.aTitle{
    margin: 10px 0;
    font-size: 40px;
}
.aPreview{
    margin : 10px 0;
    font-size: 20px;
    color: grey;
}
.aAuthor{
    margin: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
}


.aText{
    margin: 20px 0;
    font-size: 20px;
    line-height: 30px;
    height: fit-content;
}