.slider{
  
    margin : 15px auto;
    width: 80vw;
    min-height: 80vh;
    max-height: fit-content;
    display:flex;
    box-shadow: var(--color-shadow2);
}

.arrow{
    flex: 10%;
    color:var(--color-text);
}

.arrow #left:hover{
    transform: translate(-5px);
}
.arrow #right:hover{
    transform: translate(5px);
}
a{
    flex:90%;
}
.content{ 
    padding: 10px;
    min-height: 76vh;
    max-height: fit-content;
    color:var(--color-text);
    background-color: var(--color-button1);
}

.slider a{
    color: black;
    text-decoration: none;
}
.content .title{
    font-size: 30px;
    margin-bottom: 10px;
}
.content .preview {
    font-size: 20px;
}
