
.MCard{
    width : 45vw ; 
    height: 30vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-gap : 0;
    /* background-color: red; */
    /* border: 1px solid black ; */
}
.image  { 
    width: 100%; 
    height:100%;
    grid-area: 1 / 1 / 3 / 2; 
}
.mTitle{
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 5px;
    font-size: 20px;
    
}

.mPreview { 
    grid-area: 2 / 2 / 3 / 3; 
    margin-left: 5px;
    font-size: 17px;
    overflow: hidden;
}