
.navbar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 1px; */
    text-align: center;
    line-height: 30px;
    margin : 0px 1px ;
    /* background-color: red; */
    height: 30px;
    
}

/* .navbar div{
        border :1px solid #ccc;  
    
} */
.navbar div:hover{
    background-color: rgb(236, 235, 235);
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    font-size: 15px;
    color: black;

}