
.sCard{
    display: flex; 
    flex-direction: column;
    padding: 5px;
    margin:10px 5px 10px 25px ;
    width: 25vw;
    height: 35vh;
    line-height: 25px;
    /* border: 1px solid rgb(112, 112, 112);  */
}
.sCard::after{
    content: "";
    background-color: rgb(112, 112, 112);
    height: 2px;
    margin-top: 10px;

}

.category {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 35px;
    height: 25px;
    margin: 1px 1px;
    background-color: rgb(163, 162, 162);
    color: white;
}
.sTitle{
    font-size: 15px;
}
.sPreview{
    /* line-height: 4vh; */
    font-size: 13px;
    line-height: 20px;
}
