.comment-form {
    border: 2px solid rgb(216, 216, 216); 
    border-radius: 5px;
    width: 55vw;
    padding: 10px;
}
.comment-form:hover{
    border: 2px solid black; 
}

input,textarea {
    border: none; 
    border-bottom: 1px solid black;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    
}
input:focus, textarea:focus{
    outline: none;
    border-bottom-color:green ;
}

.comment-button {
    margin-top: 5px;
    border: none;
    border-radius:5px;
    padding:7px; 
    display: inline-block;
    background-color: rgb(216, 216, 216);
}

/* CommentList.jsx */
.comment-list{
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    margin-top: 10px;
    padding: 10px;
    width : 55vw ;
}

/* Comment.jsx */

.comment-block{
    margin: 10px auto ;
    padding: 10px ;
    width : 50vw ;
    display: block;
    background-color: white;
    border-radius: 5px;
    color: black;
}
.username {
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(197, 197, 197);
    font-style: italic;
}
.text{
    margin: 10px 0;
}
ul{
    list-style: none;
    text-align: end;
}
li{
    display: inline;
    margin: 10px 10px;
}

.hidden-div{
    display: none;
}