
.sCard{
 
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin:10px auto  ;
    width: 25vw;
    min-height: 35vh;
    max-height: fit-content;
    line-height: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.sCard:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2px, rgba(22, 25, 27, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

.category {
    flex:5%;
    font-size: 10px;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    width: 35px;
    height: 25px;
    margin: 1px 1px;
    color: black;
}


.sTitle{
    flex : 20%;
    font-size: 15px;
}
.sPreview{
    flex:70%;
    font-size: 13px;
    line-height: 20px;
}
