.slider{
    margin : 15px auto;
    width: 80vw;
    min-height: 80vh;
    max-height: fit-content;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2px, rgba(22, 25, 27, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.arrow{
    flex: 10%;
}

.arrow #left:hover{
    transform: translate(-5px);
}
.arrow #right:hover{
    transform: translate(5px);
}
a{
    flex:90%;
}
.content{ 
    padding: 10px;
    min-height: 76vh;
    max-height: fit-content;
    background-color: rgba(236, 235, 235, 0.7);
}

.slider a{
    color: black;
    text-decoration: none;
}
.content .title{
    font-size: 30px;
    margin-bottom: 10px;
}
.content .preview {
    font-size: 20px;
}
